header {
background: url(images/shotaro.jpg);
background-size: cover;
padding: 100px 100px;
margin: 0px;
}

#headername {
color: white;
font-size: 50px;
}

h2 {
text-decoration: underline;
}

div {
text-align: center;
}
