// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
background: url(images/shotaro.jpg);
background-size: cover;
padding: 100px 100px;
margin: 0px;
}
#headername {
color: white;
font-size: 50px;
}
h2 {
text-decoration: underline;
}
div {
text-align: center;
}
